.container{
    width: 600px;
    height: 580px;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 20px;
    background-color: beige;
    box-shadow: 2px 2px 7px brown;
}
img{
    height: 240px;
    width: 50%;
}
.feedback{
    margin: 3px;
    margin-left: 5px;
    
}
.feedback label{
    display: block;
    color: brown;
}